body {
	background-color: #55565A;
	display: flex;
	flex-direction: column;
	margin: 0px;
	width: 100%;
	min-width: 960px;
	justify-content: center;
}
#navbar {
	display: flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content: right;
	background-color: black;
	height: 70px;
}
#headerimage {
	display: flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content: center;
	background-color: #55565A;
}
div.navbutton, div.navbuttonselected {
	display: inline-block;
	height: 70px;
	width: 240px;
	margin: 0px;
}
div.navbutton a {
	display: inline-block;
	width: 230px;
	height: 64px;
	background-color: black;
	color: #FFD100;
	border-style: outset; 
	margin: 0px;
	text-align: center;
	font-size: 3em;
	text-decoration: none;
}
div.navbutton a:hover {
	color: white;
	background-color: #55565A;
	border-style: inset;
}
div.navbuttonselected a {
	display: inline-block;
	width: 230px;
	height: 64px;
	background-color: black;
	color: white;
	border-style: outset; 
	margin: 0px;
	text-align: center;
	font-size: 3em;
	text-decoration: none;
}
div.navbuttonselected a:hover {
	color: white;
	background-color: #55565A;
	border-style: inset;
}
#headercampaignpic{
	display:inline-block;
	width:40%;
}
#headercampaignpic a img{
	width:100%;
}
#headerpersonalimage{
	display:inline-block;
	width:67%;
}
#content {
	min-height: 600px;
	background-color: black;
	display:flex;
	flex-direction:column;
	margin:0px;
}
#me {
	min-height:300px;
	display:flex;
	flex-direction:row;
	justify-content: center;
}
#aboutme, #whycampaign {
	width:50%;
	display:flex;
	flex-direction: column;
}
div.contentheader {
	display:inline-block;
	color: #FFD100;
	font-size: 3em;
	text-decoration: bold;
	text-align: center;
	margin: 20px 0px;
}
div.contentmessage {
	display:inline-block;
	color: white;
	width: 90%;
	margin: 0px 5%;
	font-size: 1.5em;
}
#mygoals{
	background-color:white;
	height: 250px;
}
#footer {
	background-color: #55565A;
	height: 150px;
}