body {
	background-color: #55565A;
	display: flex;
	flex-direction: column;
	margin: 0%;
	width: 1600px;
	justify-content: center;
}
#navbar {
	display: flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content: right;
	background-color: black;
	height: 65px;
}
#headerimage {
	display: flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content: center;
	background-color: #55565A;
	height: 281px;
}
div.navbutton, div.navbuttonselected {
	display: inline-block;
	height: 60px;
	width: 200px;
	margin: 0%;
}
div.navbutton a {
	display: inline-block;
	width: 98%;
	height: 98%;
	background-color: black;
	color: #FFD100;
	border-style: outset; 
	margin: 0px;
	text-align: center;
	font-size: 3em;
	text-decoration: none;
}
div.navbutton a:hover {
	color: white;
	background-color: #55565A;
	border-style: inset;
}
div.navbuttonselected a {
	display: inline-block;
	width: 98%;
	height: 98%;
	background-color: black;
	color: white;
	border-style: outset; 
	margin: 0px;
	text-align: center;
	font-size: 2em;
	text-decoration: none;
}
div.navbuttonselected a:hover {
	color: white;
	background-color: #55565A;
	border-style: inset;
}
#headercampaignpic{
	display:inline-block;
	width:640px;
}
#headercampaignpic a img{
	width:100%;
}
#headerpersonalimage{
	display:inline-block;
	width:960px;
}
#content {
	height: 600px;
	background-color: black;
	display:flex;
	flex-direction:column;
	margin:0%;
}
#me {
	height:300px;
	display:flex;
	flex-direction:row;
	justify-content: center;
}
#aboutme, #whycampaign {
	width:50%;
	display:flex;
	height:100%;
	flex-direction: column;
}
div.contentheader {
	display:inline-block;
	color: #FFD100;
	font-size: 3em;
	text-decoration: bold;
	text-align: center;
}
div.contentmessage {
	display:inline-block;
	color: white;
	margin: 0% 10%;
	font-size: 1.5em;
}