body {
	background-color: #55565A;
	display: flex;
	flex-direction: column;
}
#navbar {
	display: flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content: center;
}
div.navbutton {
	display: inline-block;
	height: 30px;
	width: 100px;
	margin: 20px;
}
div.navbutton a {
	width: 100%;
	height: 100%;
	background-color: black;
	color: #FFD100;
}