body {
	background-color: #55565A;
	display: flex;
	flex-direction: column;
}
#navbar {
	display: flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content: center;
}
div.navbutton {
	display: inline-block;
	height: 30px;
	width: 100px;
	margin: 20px;
}
div.navbutton a {
	display: inline-block;
	width: 98%;
	height: 98%;
	background-color: black;
	color: #FFD100;
	border-style: outset; 
	margin: 0px;
	text-align: center;
}
div.navbutton a:hover {
	color: white;
	background-color: #55565A;
	border-style: inset;
	text-decoration: underline;
}